<?xml version='1.0'?>
<launch>
	<arg name="target_frame" default="base_link"/>
	<arg name="frame_id" default="imu_link"/>

	<include file="$(find vectornav)/launch/vectornav.launch">
		<arg name="frame_id" value="$(arg frame_id)"/>
	</include>

	<!-- Transforms VN-100 tilted data in imu_link frame to ENU data in base_link frame -->
	<node pkg="nodelet" type="nodelet" name="imu_manager" args="manager"/>

	<!-- Transforms VN100 tilted data in imu_link frame to ENU data in base_link frame -->
	<node pkg="nodelet" type="nodelet" name="imu_data_transformer" args="load imu_transformer/imu_transformer_nodelet imu_manager">
		<remap from="imu_in/data" to="/vectornav/IMU"/>
		<remap from="imu_in/mag" to="/vectornav/Mag"/>
		<remap from="imu_out/data" to="imu/data_raw"/>
		<remap from="imu_out/mag" to="imu/mag"/>
		<param name="target_frame" value="$(arg target_frame)"/>
	</node>

	<!-- Filter raw gyro, accel and mag data into a usable orientation -->
	<node pkg="nodelet" type="nodelet" name="imu_filter" args="load imu_filter_madgwick/ImuFilterNodelet imu_manager">
		<rosparam command="load" file="$(find vectornav)/params/imu_filter_madgwick.yaml" />
	</node>
</launch>